/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.ie header,
.ie nav,
.ie section,
.ie article,
.ie aside,
.ie footer,
.ie hgroup {
  display: block;
}
@-ms-viewport {
  width: device-width;
}
@supports (-moz-font-feature-settings:"smcp=1")
	or (-moz-font-feature-settings:"smcp")
	or (-ms-font-feature-settings:"smcp")
	or (-o-font-feature-settings:"smcp")
	or (-webkit-font-feature-settings: "smcp")
	or (font-feature-settings:"smcp") {
  .sc {
    -moz-font-feature-settings: "smcp=1";
    -moz-font-feature-settings: "smcp";
    -ms-font-feature-settings: "smcp";
    -o-font-feature-settings: "smcp";
    -webkit-font-feature-settings: "smcp";
    font-feature-settings: "smcp";
    text-transform: lowercase;
  }
}
.google #menu li.active {
  color: #4285f4;
  -webkit-box-shadow: 0 -2px 5px rgba(10, 71, 172, 0.25);
  -moz-box-shadow: 0 -2px 5px rgba(10, 71, 172, 0.25);
  box-shadow: 0 -2px 5px rgba(10, 71, 172, 0.25);
}
.google #main-header {
  background: #4285f4;
}
html,
body {
  width: 100%;
  overflow-x: hidden;
}
body {
  font-family: 'chaparral-pro', 'Georgia', serif;
  line-height: 1.6;
  font-size: 21px;
  color: #323232;
}
@media all and (max-width: 600px) {
  body {
    font-size: 18px;
  }
}
p {
  margin: 24px 0;
  -moz-font-feature-settings: "onum";
  -moz-font-feature-settings: "onum=1";
  -ms-font-feature-settings: "onum";
  -o-font-feature-settings: "onum";
  -webkit-font-feature-settings: "onum";
  font-feature-settings: "onum";
}
@media all and (max-width: 600px) {
  p {
    margin: 12px 0;
  }
}
a {
  text-decoration: none;
  color: inherit;
}
h3 {
  color: #6dbcdb;
  font-family: 'museo-sans-rounded', 'Lucida Sans', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
}
@media all and (max-width: 600px) {
  h3 {
    font-size: 15px;
  }
}
em {
  font-style: italic;
}
#main-header {
  font-family: 'museo-sans-rounded', 'Lucida Sans', sans-serif;
  background: #2c3e50;
  height: 350px;
  position: relative;
  overflow: hidden;
}
#main-header .tagline {
  max-width: 496px;
  margin: auto;
  padding-top: 100px;
}
#main-header h1 {
  color: #fff;
  font-size: 32px;
  margin-bottom: 8px;
}
#main-header h2 {
  color: #6dbcdb;
  font-size: 24px;
}
@media all and (max-width: 600px) {
  #main-header {
    height: 264px;
  }
  #main-header h1 {
    font-size: 24px;
  }
  #main-header h2 {
    font-size: 20px;
  }
  #main-header .tagline {
    max-width: 300px;
    padding: 48px 0 0;
  }
}
#menu {
  text-align: center;
  position: absolute;
  bottom: -5px;
  width: 100%;
}
#menu li {
  display: inline-block;
  color: #fff;
  width: 100px;
  text-align: center;
  margin: 0 12px;
  padding: 5px 0 10px;
  font-size: 18px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
@media all and (max-width: 600px) {
  #menu li {
    font-size: 16px;
  }
}
#menu li.active {
  background: #fff;
  color: #2c3e50;
  -webkit-box-shadow: 0 -2px 5px rgba(44, 62, 80, 0.25);
  -moz-box-shadow: 0 -2px 5px rgba(44, 62, 80, 0.25);
  box-shadow: 0 -2px 5px rgba(44, 62, 80, 0.25);
}
@media all and (max-width: 600px) {
  #menu li {
    margin: 0;
    width: 84px;
    font-size: 16px;
  }
}
@media all and (max-width: 370px) {
  #menu li {
    margin: 0;
    width: 72px;
    font-size: 14px;
  }
}
@media all and (max-width: 300px) {
  #menu li {
    width: 60px;
  }
}
#container {
  width: 400%;
  position: relative;
  left: 0;
  overflow: hidden;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
#container .col {
  width: 25%;
  display: inline-block;
  float: left;
}
#container .col .content {
  max-width: 640px;
  margin: 48px auto;
}
@media all and (max-width: 660px) {
  #container .col .content {
    padding: 0 10px;
  }
}
@media all and (max-width: 600px) {
  #container .col .content {
    margin: 24px auto;
    max-width: 500px;
  }
}
#container p a {
  border-bottom: 4px solid rgba(109, 188, 219, 0.5);
}
.work {
  margin-bottom: 16px;
}
.work .image-container {
  display: inline-block;
  width: 33%;
  height: 0;
  padding-bottom: 33%;
  position: relative;
  background: #ddd;
  background-size: cover;
  background-position: center center;
}
.work .image-container .fa {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 30px;
}
@media all and (max-width: 425px) {
  .work .image-container {
    width: 100%;
    padding-bottom: 66%;
  }
}
.work .text {
  display: inline-block;
  width: 66%;
  padding-left: 24px;
  vertical-align: top;
}
.work .text h3 {
  margin-top: -6px;
}
.work .text em {
  color: #999;
  font-size: 85%;
}
@media all and (max-width: 425px) {
  .work .text {
    width: 100%;
    padding: 0;
    margin-top: 18px;
  }
  .work .text em {
    font-size: 14px;
  }
}
.resume {
  margin-bottom: 24px;
}
.resume h3 {
  margin-bottom: 24px;
}
.resume .time {
  font-family: 'museo-sans-rounded', 'Lucida Sans', sans-serif;
  color: #999;
  text-transform: uppercase;
  font-size: 75%;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 3px;
}
@media all and (max-width: 600px) {
  .resume .time {
    font-size: 12px;
    letter-spacing: .5px;
    margin-bottom: 12px;
  }
}
.resume h5 {
  color: #666;
}
.resume .half p {
  margin: 0;
}
.resume .separator {
  margin-bottom: 24px;
}
@media all and (max-width: 399px) {
  .resume .half {
    width: 100%;
  }
}
.half {
  display: inline-block;
  float: left;
  width: 50%;
}
.contact {
  text-align: center;
  width: 33.33%;
  float: left;
  display: inline-block;
  margin-bottom: 24px;
}
.contact .icon-container {
  width: 64px;
  height: 64px;
  border-radius: 9999px;
  margin: 0 auto 24px;
  color: #fff;
  background: #6dbcdb;
  display: inline-block;
}
.contact .icon-container .fa {
  line-height: 64px;
}
@media all and (max-width: 600px) {
  .contact .icon-container {
    width: 44px;
    height: 44px;
  }
  .contact .icon-container .fa {
    line-height: 44px;
  }
}
.contact-container {
  margin-top: 48px;
}
@media all and (max-width: 600px) {
  .contact-container {
    margin-top: 24px;
  }
}
