doctype html
<!--[if lt IE 9]>
html.ie
p.browsehappy(style="padding: 20px")
	| You are using an <strong>outdated</strong> browser.
	| Please <a href="http://browsehappy.com/">upgrade your browser</a>
	| to improve your experience.
script.
	document.createElement('header');
	document.createElement('nav');
	document.createElement('section');
	document.createElement('article');
	document.createElement('aside');
	document.createElement('footer');
<![endif]-->
html(lang="en")
	head
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")
		script(src="//use.typekit.net/vhi1xcb.js")
		script.
			try{Typekit.load();}catch(e){}
		link(type="text/css" rel="stylesheet" href="css/style.css")
	body
		header#main-header
			.tagline
				h1 Hey,
				h2 I'm Taylor Palmer, an interaction designer who loves&nbsp;interfaces.
			ul#menu
				li.active
					a(href="#" data-left="0%" data-col="1") Hello
				li
					a(href="#" data-left="-100%"  data-col="2") Work
				li
					a(href="#" data-left="-200%"  data-col="3") About
				li
					a(href="#" data-left="-300%"  data-col="4") Contact
		#container(style="left: 0%")
			.col.col-1.current-col
				.content
					p I'm going to school to learn graphic design, and I have learned interaction design techniques on the job and on my own. I'm a pretty  
						a.indirect(href="#" data-left="-200%" data-col="3") talented
						|  guy, and I bet I would be a good fit on your team. 

					p Working as both a designer and a devloper has given me a huge advantage as a&nbsp;
						span.sc UI
						|  designer. My knowledge of front end development makes my prototypes robust and&nbsp;accurate.
					p I currently work doing 
						span.sc UX
						|  research and design for my university's academic management system. I'm familiar with user research methods and interface&nbsp;design.
					p Take a look at my 
						a.indirect(href="#" data-left="-100%" data-col="2") work
						|  and consider me for any openings you may have. I'm available for full time work and relocation in summer of&nbsp;2015.
			.col.col-2
				.content
					.work
						a(href="http://bit.ly/1zkrkta").image-container(style="background-image: url('img/lastfm.jpg');")
							i.fa.fa-behance
						.text
							h3 
								a(href="http://bit.ly/1zkrkta") Last Fm Redesign Concept
							p An interface redesign made for a Graphic Design practicum class at&nbsp;
								span.sc BYU. 
							p
								em User persona, interface design, Android
					.work
						a.image-container(href="http://bit.ly/1yUndlB" style="background-image: url('img/because.jpg');")
							i.fa.fa-behance
						.text
							h3 
								a(href="http://bit.ly/1yUndlB")
									span(style="text-transform: none;") i
									| OS Petition App Design Concept
							p An i
								span.sc os
								|  app design for an Interaction Design&nbsp;class.
							p
								em User personas, wireframes, prototype
					// .work
						// .image-container
						// 	i.fa.fa-behance
						// .text
						// 	h3 WebFolio 2014
						// 	p A collection of websites that I worked on during the year&nbsp;2014.
						// 	p
						// 		em Development, Front-End
			.col.col-3
				.content.group
					p I grew up in Houston, Texas and moved to Utah when I was 18 to attend Brigham Young University. I lived for two years in Costa Rica and speak fluent Spanish. I was happily married in summer of 2014. Featured below is a brief&nbsp;resume.
					div.resume.group
						h3 Skills & Languages
						.half
							ul
								li User Experience Design
								li Interface Design
								li Testing & Research
								li Typography & Branding
						.half
							ul
								li.sc HTML, JADE, CSS, LESS, SASS
								li jQuery, Bootstrap, Git
								li Responsive Development
								li Progressive Enhancement
					div.resume(style="margin: 0")
						h3 Work Experience
						div.separator.group
							.half.experience
								h4.sc BYU Center for 
									br
									| Teaching and Learning
								h5
									em Designer
								h6.time Oct 2014 &ndash; Current
							.half.experience
								p User interviews and usability testing to inform wireframing and website design. Presented mockups to team and&nbsp;staff.
						.separator.group
							.half.experience
								h4.sc Riser Agency
								h5
									em Designer
								h6.time Apr 2014 &ndash; Aug 2014
							.half.exp
								p Front end development in  collaboration with designers and back end developers with focus on usability and&nbsp;compatibility.
						.separator.group
							.half.experience
								h4.sc BYU Museum of Art
								h5
									em Designer
								h6.time Aug 2014 &ndash; Apr 2014
							.half.exp
								p Designed, developed, and maintained Wordpress build from start to finish during the course of an art exhibition's 250,000&nbsp;visitors.
					div.resume.group
						h3 Education & Coursework
						p Graduating in April of 2015 with a 
							span.sc BA
							|  in Graphic Design at Brigham Young&nbsp;University.
						.half
							ul
								li Interaction Design
								li Practicum in Design
								li Typography
						.half
							ul
								li Media Design
								li History of Graphic Design
								li Intro to Graphic Design
			.col.col-4
				.content
					p(style="text-align: center; display: inline-block; width: 100%; margin: 0") Here are the easiest ways to get a hold of&nbsp;me.
					.contact-container
						.contact
							a(href="mailto:tpalmer.ixd@gmail.com")
								.icon-container
									i.fa.fa-envelope
								h6 Email
						.contact
							a(href="https://www.behance.net/tpalmerixd")
								.icon-container
									i.fa.fa-behance
								h6 Behance
						.contact
							a(href="https://twitter.com/thpalmer75")
								.icon-container
									i.fa.fa-twitter
								h6 Twitter
						.contact
							a(href="http://codepen.io/tpalmer75/")
								.icon-container
									i.fa.fa-codepen
								h6 Codepen
						.contact
							a(href="https://github.com/tpalmer75")
								.icon-container
									i.fa.fa-github
								h6 GitHub
						.contact
							a(href="www.linkedin.com/pub/taylor-almer/71/4a1/626/")
								.icon-container
									i.fa.fa-linkedin
								h6 LinkedIn

		script(src="js/jquery-2.1.1.min.js")
		script(src="js/jquery.touchSwipe.min.js")
		script(src="js/script.js")